<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Ascii-Images Homepage</title>
</head>
<body>

    <div style="display: grid; place-items: center;">
        {% if image_search_results|length > 0 %}
            <form action="{{ url_for('ChooseSearchedImage') }}" method="post">
                <input type="radio" id="image1" name="image" value="image1">
                <label for="image1">
                    <img width="20%" src="{{ image_search_results[0] }}"/>
                </label>

                <input type="radio" id="image2" name="image" value="image2">
                <label for="image2">
                    <img width="20%" src="{{ image_search_results[1] }}"/>
                </label>

                <input type="radio" id="image3" name="image" value="image3">
                <label for="image3">
                    <img width="20%" src="{{ image_search_results[2] }}"/>
                </label>

                <input type="submit">
            </form>
            <br>
        {% endif %}

        <form action="{{ url_for('fileUpload') }}" method="post" enctype="multipart/form-data">
            <input type="submit">
            <label for="file">Upload a File!</label>
            <input type="file" id="file" name="file" accept="image/jpg,image/png,image/jpeg">
        </form>
        <p>OR</p> 
        <form action="{{ url_for('imageSearch') }}" method="post">
            <input type="submit">
            <label for="searchWord">Search for images!</label>
            <input type="text" id="searchWord" name="searchWord">
        </form>
        <br>

        {% for picture in pictures %}
        <pre><span style="display: block; line-height: 10px; font-family: monospace; font-size: 10px;">{{picture.picture}}</span></pre>
        <br>
        {% endfor %}

    </div>
</body>
</html>